
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

header .between {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Style the .again button inside the header section */
header .again {
  background-color: #f44336;
}

.btn:hover {
  background-color: #3e8e41;
}

header .number {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 2em;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;
}

main .left,
main .right {
  margin: 10px auto;
  text-align: center;
}
.left input {
  border: none;
  border-bottom: 2px solid #333;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.left .check {
  background-color: #4caf50;
}

.check:hover {
  background-color: #3e8e41;
}

.right .message {
  font-size: 1.5em;
}

.right .label-score,
.right .label-highscore {
  font-size: 1.2em;
  margin: 10px 0;
}

.right .score,
.right .highscore {
  font-weight: bold;
}
